.formulario{
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.botonesFormulario {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    margin-top: 30px;
}